@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Inter', serif;
    background-color: #fff;
}

aside {
	background-color: #1CD1B0;
	font-size: 15px;
    padding: 8px;
}

header {
	position: sticky;
	z-index: 15;
	top: 0;
    background-color: #00669f;
    height: 80px;
    padding: 15px;
}

header h2 {
    position: relative;
    bottom: 20px;
}

.logo {
    position: relative;
    top: 20px;
}

h1 {
    font-size: 70px;
    margin: 20px;
    text-align: left;
    color: #333333;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    color: #fff;    
}

.login {
    position: relative;
    top: 100px;
    margin: auto;
    text-align: center;
    width: 650px;
}

.login a {
    color:  #00669f;
    text-decoration: none;
}

.entrada {
    width: 600px;
    margin: 10px;
    height: 30px;
}

.menu {
    width: 624px;
    margin: 10px;
    height: 60px;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #333333;
}

.entrar {
    background-color: #1CD1B0;
    border-radius: 20px;
    width: 280px;
    height: 45px;
    margin: 20px;
    border: 0;
}

.resetear {
    background-color: #888888;
    color: #fff;
    border-radius: 20px;
    width: 280px;
    height: 45px;
    margin: 20px;
    border: 0;
}

input[type=text], input[type=password] {
    font-size: 20px;
    padding: 10px;
    border: 2px solid #333333;
}

input[type=submit], input[type=reset] {
    font-size: 20px;
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
	background-color: #00669f;
	font-size: 20px;
	color: white;
    text-align: center;
}

footer span {
    text-align: center;
    position: relative;
    top: 30px;
}